server {
    listen      80;
    server_name <API_ENDPOINT>;

    # reverse proxy
    location / {
        proxy_pass            http://logto-app:<API_PORT>;
        include               conf.d/proxy.conf;
    }

    location = /favicon.ico {
      log_not_found off;
    }

    location = /robots.txt {
      log_not_found off;
    }

    location ~ /\.(?!well-known) {
        deny all;
    }
}
