server {
    listen      80;
    listen      [::]:80;
    server_name ${API_ENDPOINT};

    # security
    include     common/security.conf;

    # logging
    access_log  /dev/stdout combined buffer=512k flush=1m;
    error_log   /dev/stderr warn;

    # reverse proxy
    location / {
        proxy_pass            http://logto-app:${API_PORT};
        proxy_set_header Host $host;
        include               common/proxy.conf;
    }

    # additional config
    include common/general.conf;
}
